/* ******* ##### Media Queries ##### ******* */
@media (max-width: 576px) {
    body {
        background: #fff;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row.row-broken {
        padding-bottom: 0;
    }

    .chat {
        overflow: hidden;
        height: calc(120vh - 180px);
    }

    /* ##### Chat Body ##### */

    .user-header {
        padding-left: 8px;
        padding-right: 10px;
    }

    .user-header span {
        font-weight: bold;
        font-size: 20px;
    }

    .top_nav {
        border-bottom: 2px solid #ccc;
    }

    .nav_div {
        width: 48%;
        display: inline-block;
        text-align: center;
    }

    .nav_div .nav_div_span {
        display: inline-block;
        font-size: 15px;
        margin-top: 32px;
        font-weight: bold;
        padding-bottom: 12px;
        padding-left: 22px;
        padding-right: 22px;
    }

    .nav_div_inactive {
        color: #999;
    }

    .nav_div_active {
        color: #682960;
        border-bottom: 3px solid #682960;
    }

    .user-header i {
        font-size: 18px;
    }

    #popup_btn {
        float: right;
        font-size: 23px;
        cursor: pointer;
    }

    .chat-body {
        height: 100%;
        width: 100%;
    }

    .chat-body .answer.left {
        padding: 0 0 0 38px;
        text-align: left;
        float: left;
    }

    .chat-body .answer {
        user-select: none;
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .chat-body .answer.left .avatar {
        position: absolute;
        bottom: 0px;
        left: 10px;
    }

    .chat .avatar {
        width: 100px;
        height: 40px;
        bottom: 100px;
    }

    .chat .avatar img {
        display: block;
        border-radius: 100px;
        height: 100%;
        width: 40%;
    }

    .chat-body .answer.left .text {
        background: #ebebeb;
        border-radius: 0px 8px 8px 0;
        --r: 0px; /* the radius */
        --t: 20px; /* the size of the tail */
        -webkit-mask: 
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
            radial-gradient(50% 50%,#000 98%,#0000 101%) 
            0 0/var(--r) var(--r) space padding-box;
        --_d: 0%;
        border-left: var(--t) solid #0000;
        place-self: start;
    }

    .chat-body .answer .text {
        padding: 8px;
        position: relative;
    }

    /* ######## liked_msg ########### */

    .liked_msg_left {
        position: relative;
        left: 65px;
        bottom: 15px;
        clear: both;
        margin-bottom: -10px;
    }

    .liked_msg_left i {
        font-size: 13px;
        padding: 4px;
        color: red;
        background-color: wheat;
        border: 2px solid #fff;
        border-radius: 100px;
    }

    .liked_msg_right {
        position: relative;
        float: right;
        bottom: 15px;
        right: 20px;
        clear: both;
        margin-bottom: -10px;
    }

    .liked_msg_right i {
        font-size: 13px;
        padding: 4px;
        color: red;
        background-color: wheat;
        border: 2px solid #fff;
        border-radius: 100px;
    }

    /* ##### Right ##### */
    .normal {
        float: right;
    }

    .chat-body .answer.right {
        padding: 0 0.07rem 0 0;
    }

    .chat-body .answer.right .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 0px 0 8px;
        --r: 0px; /* the radius */
        --t: 20px; /* the size of the tail */
        -webkit-mask: 
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
            radial-gradient(50% 50%,#000 98%,#0000 101%) 
            0 0/var(--r) var(--r) space padding-box;
        --_d: 100%;
        border-right: var(--t) solid #0000;
        place-self: end;
        margin-right: -2px;
    }

    /*Delete Msg Field*/
    .delete_msg {
        text-align: center;
        bottom: 0px;
        right: 0px;
        font-size: 12px;
        margin-left: 10px;
        border: 1px solid rgb(144, 63, 63);
        background-color: rgb(144, 63, 63);
        color: white;
        padding: 3px 6px;
        border-radius: 5px;
        cursor: pointer;
        display: none;
    }

    .msg_m {
        float: right;
    }

    .center_ {
        border: 0px;
        background-color: #fff;
        color: #000;
    }

    /* ##### Add Form ##### */
    .chat-body .answer-add {
        text-align: center;
        clear: both;
        position: relative;
        margin: 20px -20px -20px;

    }

    .chat-body .answer-add input {
        font-size: 16px;
        line-height: 20px;
        padding: 10px 15px;
        outline: none;
        border: 1px solid #ccc;
        width: 80%;
        border-radius: 20px;
    }

    .chat-body .answer-add i {
        font-size: 18px;
        background-color: #cfcfcf;
        padding: 13px 17px;
        border: 1px solid #ccc;
        margin-left: 1%;
        border-radius: 100px;
    }

    /* links */
    .links_left {
        color: #000;
        text-decoration: underline;
    }

    .links_right {
        color: #fff;
        text-decoration: underline;
    }

    /* #### Date Times ##### */

    .date_times {
        text-align: center;
        position: relative;
        overflow: hidden;
        clear: both;
        font-size: 13px;
        color: #666;
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    /* #####################################################################

    /**************** First Messages ********************/
    
    .left_message_first {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }

    .left_message_first {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .left_message_first .text {
        background: #ebebeb;
        border-radius: 8px 8px 8px 0;
    }

    .left_message_first .text {
        padding: 8px;
        position: relative;
    }

    /* ##### Right ##### */
    .normal {
        float: right;
    }

    .right_message_first {
        padding: 0 15px 0 0;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .right_message_first .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 8px 0 8px;
        padding: 8px;
        position: relative;
        margin-right: 4px;
    }

    /**************** First End ********************/

    /**************** Middle Messages ********************/
    
    .left_message_mid {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }

    .left_message_mid {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .left_message_mid .text {
        background: #ebebeb;
        border-radius: 0px 8px 8px 0;
    }

    .left_message_mid .text {
        padding: 8px;
        position: relative;
    }

    /* ##### Right ##### */


    .right_message_mid {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
        margin-right: 4px;
    }

    .right_message_mid {
        padding: 0 15px 0 0;
        clear: both;
    }

    .right_message_mid .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 0px 0 8px;
        padding: 8px;
        position: relative;
    }

    /****************End Mid********************/

    /* ##################################################################### */

}

@media (min-width: 576px) {
    body {
        background: #fff;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row.row-broken {
        padding-bottom: 0;
    }

    .chat {
        overflow: hidden;
        height: calc(120vh - 180px);
    }

    /* ##### Chat Body ##### */
    .user-header {
        padding-left: 8px;
        padding-right: 10px;
    }

    .user-header span {
        font-weight: bold;
        font-size: 20px;
        margin-left: 10px;
    }

    .top_nav {
        border-bottom: 2px solid #ccc;
    }

    .nav_div {
        width: 48%;
        display: inline-block;
        text-align: center;
    }

    .nav_div .nav_div_span {
        display: inline-block;
        font-size: 15px;
        margin-top: 32px;
        font-weight: bold;
        padding-bottom: 12px;
        padding-left: 22px;
        padding-right: 22px;
    }

    .nav_div_inactive {
        color: #999;
    }

    .nav_div_active {
        color: #682960;
        border-bottom: 3px solid #682960;
    }

    .user-header i {
        font-size: 18px;
    }

    #popup_btn {
        float: right;
        font-size: 23px;
        cursor: pointer;
    }

    .chat-body {
        height: 100%;
        width: 100%;
    }

    .chat-body .answer.left {
        padding: 0 0 0 38px;
        text-align: left;
        float: left;
    }

    .chat-body .answer {
        user-select: none;
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .chat-body .answer.left .avatar {
        position: absolute;
        bottom: 0px;
        left: 10px;
    }

    .chat .avatar {
        width: 100px;
        height: 40px;
        bottom: 100px;
    }

    .chat .avatar img {
        display: block;
        border-radius: 100px;
        height: 100%;
        width: 40%;
    }

    .chat-body .answer.left .text {
        background: #ebebeb;
        border-radius: 0px 8px 8px 0;
        --r: 0px; /* the radius */
        --t: 20px; /* the size of the tail */
        -webkit-mask: 
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
            radial-gradient(50% 50%,#000 98%,#0000 101%) 
            0 0/var(--r) var(--r) space padding-box;
        --_d: 0%;
        border-left: var(--t) solid #0000;
        place-self: start;
    }

    .chat-body .answer .text {
        padding: 8px;
        position: relative;
    }

    /* ######## liked_msg ########### */

    .liked_msg_left {
        position: relative;
        left: 65px;
        bottom: 15px;
        clear: both;
        margin-bottom: -10px;
    }

    .liked_msg_left i {
        font-size: 13px;
        padding: 4px;
        color: red;
        background-color: wheat;
        border: 2px solid #fff;
        border-radius: 100px;
    }

    .liked_msg_right {
        position: relative;
        float: right;
        bottom: 15px;
        right: 20px;
        clear: both;
        margin-bottom: -10px;
    }

    .liked_msg_right i {
        font-size: 13px;
        padding: 4px;
        color: red;
        background-color: wheat;
        border: 2px solid #fff;
        border-radius: 100px;
    }

    /* ##### Right ##### */
    .normal {
        float: right;
    }

    .chat-body .answer.right {
        padding: 0 0.07rem 0 0;
    }

    .chat-body .answer.right .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 0px 0 8px;
        --r: 0px; /* the radius */
        --t: 20px; /* the size of the tail */
        -webkit-mask: 
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
            radial-gradient(50% 50%,#000 98%,#0000 101%) 
            0 0/var(--r) var(--r) space padding-box;
        --_d: 100%;
        border-right: var(--t) solid #0000;
        place-self: end;
        margin-right: -2px;
    }

    /*Delete Msg Field*/
    .delete_msg {
        text-align: center;
        bottom: 0px;
        right: 0px;
        font-size: 12px;
        margin-left: 10px;
        border: 1px solid rgb(144, 63, 63);
        background-color: rgb(144, 63, 63);
        color: white;
        padding: 3px 6px;
        border-radius: 5px;
        cursor: pointer;
        display: none;
    }

    .msg_m {
        float: right;
    }

    .center_ {
        border: 0px;
        background-color: #fff;
        color: #000;
    }

    /* ##### Add Form ##### */
    .chat-body .answer-add {
        text-align: center;
        clear: both;
        position: relative;
        margin: 20px -20px -20px;

    }

    .chat-body .answer-add input {
        font-size: 16px;
        line-height: 20px;
        padding: 10px 15px;
        outline: none;
        border: 1px solid #ccc;
        width: 80%;
        border-radius: 20px;
    }

    .chat-body .answer-add i {
        font-size: 18px;
        background-color: #cfcfcf;
        padding: 13px 17px;
        border: 1px solid #ccc;
        margin-left: 1%;
        border-radius: 100px;
    }

    /* links */
    .links_left {
        color: #000;
        text-decoration: underline;
    }

    .links_right {
        color: #fff;
        text-decoration: underline;
    }

    /* #### Date Times ##### */

    .date_times {
        text-align: center;
        position: relative;
        overflow: hidden;
        clear: both;
        font-size: 13px;
        color: #666;
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    /* #####################################################################

    /**************** First Messages ********************/
    
    .left_message_first {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }

    .left_message_first {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .left_message_first .text {
        background: #ebebeb;
        border-radius: 8px 8px 8px 0;
    }

    .left_message_first .text {
        padding: 8px;
        position: relative;
    }

    /* ##### Right ##### */
    .normal {
        float: right;
    }

    .right_message_first {
        padding: 0 15px 0 0;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .right_message_first .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 8px 0 8px;
        padding: 8px;
        position: relative;
        margin-right: 4px;
    }

    /**************** First End ********************/

    /**************** Middle Messages ********************/
    
    .left_message_mid {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }

    .left_message_mid {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .left_message_mid .text {
        background: #ebebeb;
        border-radius: 0px 8px 8px 0;
    }

    .left_message_mid .text {
        padding: 8px;
        position: relative;
    }

    /* ##### Right ##### */


    .right_message_mid {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
        margin-right: 4px;
    }

    .right_message_mid {
        padding: 0 15px 0 0;
        clear: both;
    }

    .right_message_mid .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 0px 0 8px;
        padding: 8px;
        position: relative;
    }

    /****************End Mid********************/

    /* ##################################################################### */

}

@media (min-width: 768px) {
    body {
        background: #fff;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row.row-broken {
        padding-bottom: 0;
    }

    .chat {
        overflow: hidden;
        height: calc(120vh - 180px);
    }

    /* ##### Chat Body ##### */
    .user-header {
        padding-left: 8px;
        padding-right: 10px;
    }

    .user-header span {
        font-weight: bold;
        font-size: 20px;
        margin-left: 10px;
    }

    .top_nav {
        border-bottom: 2px solid #ccc;
    }

    .nav_div {
        width: 48%;
        display: inline-block;
        text-align: center;
    }

    .nav_div .nav_div_span {
        display: inline-block;
        font-size: 15px;
        margin-top: 32px;
        font-weight: bold;
        padding-bottom: 12px;
        padding-left: 22px;
        padding-right: 22px;
    }

    .nav_div_inactive {
        color: #999;
    }

    .nav_div_active {
        color: #682960;
        border-bottom: 3px solid #682960;
    }

    .user-header i {
        font-size: 18px;
    }

    #popup_btn {
        float: right;
        font-size: 23px;
        cursor: pointer;
    }

    .chat-body {
        height: 100%;
        width: 100%;
    }

    .chat-body .answer.left {
        padding: 0 0 0 38px;
        text-align: left;
        float: left;
    }

    .chat-body .answer {
        user-select: none;
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .chat-body .answer.left .avatar {
        position: absolute;
        bottom: 0px;
        left: 10px;
    }

    .chat .avatar {
        width: 100px;
        height: 40px;
        bottom: 100px;
    }

    .chat .avatar img {
        display: block;
        border-radius: 100px;
        height: 100%;
        width: 40%;
    }

    .chat-body .answer.left .text {
        background: #ebebeb;
        border-radius: 0px 8px 8px 0;
        --r: 0px; /* the radius */
        --t: 20px; /* the size of the tail */
        -webkit-mask: 
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
            radial-gradient(50% 50%,#000 98%,#0000 101%) 
            0 0/var(--r) var(--r) space padding-box;
        --_d: 0%;
        border-left: var(--t) solid #0000;
        place-self: start;
    }

    .chat-body .answer .text {
        padding: 8px;
        position: relative;
    }

    /* ######## liked_msg ########### */

    .liked_msg_left {
        position: relative;
        left: 65px;
        bottom: 15px;
        clear: both;
        margin-bottom: -10px;
    }

    .liked_msg_left i {
        font-size: 13px;
        padding: 4px;
        color: red;
        background-color: wheat;
        border: 2px solid #fff;
        border-radius: 100px;
    }

    .liked_msg_right {
        position: relative;
        float: right;
        bottom: 15px;
        right: 20px;
        clear: both;
        margin-bottom: -10px;
    }

    .liked_msg_right i {
        font-size: 13px;
        padding: 4px;
        color: red;
        background-color: wheat;
        border: 2px solid #fff;
        border-radius: 100px;
    }

    /* ##### Right ##### */
    .normal {
        float: right;
    }

    .chat-body .answer.right {
        padding: 0 0.07rem 0 0;
    }

    .chat-body .answer.right .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 0px 0 8px;
        --r: 0px; /* the radius */
        --t: 20px; /* the size of the tail */
        -webkit-mask: 
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
            radial-gradient(50% 50%,#000 98%,#0000 101%) 
            0 0/var(--r) var(--r) space padding-box;
        --_d: 100%;
        border-right: var(--t) solid #0000;
        place-self: end;
        margin-right: -2px;
    }

    /*Delete Msg Field*/
    .delete_msg {
        text-align: center;
        bottom: 0px;
        right: 0px;
        font-size: 12px;
        margin-left: 10px;
        border: 1px solid rgb(144, 63, 63);
        background-color: rgb(144, 63, 63);
        color: white;
        padding: 3px 6px;
        border-radius: 5px;
        cursor: pointer;
        display: none;
    }

    .msg_m {
        float: right;
    }

    .center_ {
        border: 0px;
        background-color: #fff;
        color: #000;
    }

    /* ##### Add Form ##### */
    .chat-body .answer-add {
        text-align: center;
        clear: both;
        position: relative;
        margin: 20px -20px -20px;

    }

    .chat-body .answer-add input {
        font-size: 16px;
        line-height: 20px;
        padding: 10px 15px;
        outline: none;
        border: 1px solid #ccc;
        width: 80%;
        border-radius: 20px;
    }

    .chat-body .answer-add i {
        font-size: 18px;
        background-color: #cfcfcf;
        padding: 13px 17px;
        border: 1px solid #ccc;
        margin-left: 1%;
        border-radius: 100px;
    }

    /* links */
    .links_left {
        color: #000;
        text-decoration: underline;
    }

    .links_right {
        color: #fff;
        text-decoration: underline;
    }

    /* #### Date Times ##### */

    .date_times {
        text-align: center;
        position: relative;
        overflow: hidden;
        clear: both;
        font-size: 13px;
        color: #666;
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    /* #####################################################################

    /**************** First Messages ********************/
    
    .left_message_first {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }

    .left_message_first {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .left_message_first .text {
        background: #ebebeb;
        border-radius: 8px 8px 8px 0;
    }

    .left_message_first .text {
        padding: 8px;
        position: relative;
    }

    /* ##### Right ##### */
    .normal {
        float: right;
    }

    .right_message_first {
        padding: 0 15px 0 0;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .right_message_first .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 8px 0 8px;
        padding: 8px;
        position: relative;
        margin-right: 4px;
    }

    /**************** First End ********************/

    /**************** Middle Messages ********************/
    
    .left_message_mid {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }

    .left_message_mid {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .left_message_mid .text {
        background: #ebebeb;
        border-radius: 0px 8px 8px 0;
    }

    .left_message_mid .text {
        padding: 8px;
        position: relative;
    }

    /* ##### Right ##### */


    .right_message_mid {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
        margin-right: 4px;
    }

    .right_message_mid {
        padding: 0 15px 0 0;
        clear: both;
    }

    .right_message_mid .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 0px 0 8px;
        padding: 8px;
        position: relative;
    }

    /****************End Mid********************/

    /* ##################################################################### */

}


@media (min-width: 992px) {
    body {
        background: #fff;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row.row-broken {
        padding-bottom: 0;
    }


    .chat {
        overflow: hidden;
        height: calc(120vh - 180px);
    }

    /* ##### Chat Body ##### */
    .user-header {
        padding-left: 8px;
        padding-right: 10px;
    }

    .user-header span {
        font-weight: bold;
        font-size: 20px;
        margin-left: 10px;
    }

    .top_nav {
        border-bottom: 2px solid #ccc;
    }

    .nav_div {
        width: 48%;
        display: inline-block;
        text-align: center;
    }

    .nav_div .nav_div_span {
        display: inline-block;
        font-size: 15px;
        margin-top: 32px;
        font-weight: bold;
        padding-bottom: 12px;
        padding-left: 22px;
        padding-right: 22px;
    }

    .nav_div_inactive {
        color: #999;
    }

    .nav_div_active {
        color: #682960;
        border-bottom: 3px solid #682960;
    }

    .user-header i {
        font-size: 18px;
    }

    #popup_btn {
        float: right;
        font-size: 23px;
        cursor: pointer;
    }

    .chat-body {
        height: 100%;
        width: 100%;
    }

    .chat-body .answer.left {
        padding: 0 0 0 38px;
        text-align: left;
        float: left;
    }

    .chat-body .answer {
        user-select: none;
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .chat-body .answer.left .avatar {
        position: absolute;
        bottom: 0px;
        left: 10px;
    }

    .chat .avatar {
        width: 100px;
        height: 40px;
        bottom: 100px;
    }

    .chat .avatar img {
        display: block;
        border-radius: 100px;
        height: 100%;
        width: 40%;
    }

    .chat-body .answer.left .text {
        background: #ebebeb;
        border-radius: 0px 8px 8px 0;
        --r: 0px; /* the radius */
        --t: 20px; /* the size of the tail */
        -webkit-mask: 
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
            radial-gradient(50% 50%,#000 98%,#0000 101%) 
            0 0/var(--r) var(--r) space padding-box;
        --_d: 0%;
        border-left: var(--t) solid #0000;
        place-self: start;
    }

    .chat-body .answer .text {
        padding: 8px;
        position: relative;
    }

    /* ######## liked_msg ########### */

    .liked_msg_left {
        position: relative;
        left: 65px;
        bottom: 15px;
        clear: both;
        margin-bottom: -10px;
    }

    .liked_msg_left i {
        font-size: 13px;
        padding: 4px;
        color: red;
        background-color: wheat;
        border: 2px solid #fff;
        border-radius: 100px;
    }

    .liked_msg_right {
        position: relative;
        float: right;
        bottom: 15px;
        right: 20px;
        clear: both;
        margin-bottom: -10px;
    }

    .liked_msg_right i {
        font-size: 13px;
        padding: 4px;
        color: red;
        background-color: wheat;
        border: 2px solid #fff;
        border-radius: 100px;
    }

    /* ##### Right ##### */
    .normal {
        float: right;
    }

    .chat-body .answer.right {
        padding: 0 0.07rem 0 0;
    }

    .chat-body .answer.right .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 0px 0 8px;
        --r: 0px; /* the radius */
        --t: 20px; /* the size of the tail */
        -webkit-mask: 
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
            radial-gradient(50% 50%,#000 98%,#0000 101%) 
            0 0/var(--r) var(--r) space padding-box;
        --_d: 100%;
        border-right: var(--t) solid #0000;
        place-self: end;
        margin-right: -2px;
    }

    /*Delete Msg Field*/
    .delete_msg {
        text-align: center;
        bottom: 0px;
        right: 0px;
        font-size: 12px;
        margin-left: 10px;
        border: 1px solid rgb(144, 63, 63);
        background-color: rgb(144, 63, 63);
        color: white;
        padding: 3px 6px;
        border-radius: 5px;
        cursor: pointer;
        display: none;
    }

    .msg_m {
        float: right;
    }

    .center_ {
        border: 0px;
        background-color: #fff;
        color: #000;
    }

    /* ##### Add Form ##### */
    .chat-body .answer-add {
        text-align: center;
        clear: both;
        position: relative;
        margin: 20px -20px -20px;

    }

    .chat-body .answer-add input {
        font-size: 16px;
        line-height: 20px;
        padding: 10px 15px;
        outline: none;
        border: 1px solid #ccc;
        width: 80%;
        border-radius: 20px;
    }

    .chat-body .answer-add i {
        font-size: 18px;
        background-color: #cfcfcf;
        padding: 13px 17px;
        border: 1px solid #ccc;
        margin-left: 1%;
        border-radius: 100px;
    }

    /* links */
    .links_left {
        color: #000;
        text-decoration: underline;
    }

    .links_right {
        color: #fff;
        text-decoration: underline;
    }

    /* #### Date Times ##### */

    .date_times {
        text-align: center;
        position: relative;
        overflow: hidden;
        clear: both;
        font-size: 13px;
        color: #666;
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    /* #####################################################################

    /**************** First Messages ********************/
    
    .left_message_first {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }

    .left_message_first {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .left_message_first .text {
        background: #ebebeb;
        border-radius: 8px 8px 8px 0;
    }

    .left_message_first .text {
        padding: 8px;
        position: relative;
    }

    /* ##### Right ##### */
    .normal {
        float: right;
    }

    .right_message_first {
        padding: 0 15px 0 0;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .right_message_first .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 8px 0 8px;
        padding: 8px;
        position: relative;
        margin-right: 4px;
    }

    /**************** First End ********************/

    /**************** Middle Messages ********************/
    
    .left_message_mid {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }

    .left_message_mid {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .left_message_mid .text {
        background: #ebebeb;
        border-radius: 0px 8px 8px 0;
    }

    .left_message_mid .text {
        padding: 8px;
        position: relative;
    }

    /* ##### Right ##### */


    .right_message_mid {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
        margin-right: 4px;
    }

    .right_message_mid {
        padding: 0 15px 0 0;
        clear: both;
    }

    .right_message_mid .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 0px 0 8px;
        padding: 8px;
        position: relative;
    }

    /****************End Mid********************/

    /* ##################################################################### */

}


@media (min-width: 1200px) {
    body {
        background: #fff;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row.row-broken {
        padding-bottom: 0;
    }

    .chat {
        overflow: hidden;
        height: calc(120vh - 180px);
    }

    /* ##### Chat Body ##### */
    .user-header {
        padding-left: 8px;
        padding-right: 10px;
    }

    .user-header span {
        font-weight: bold;
        font-size: 20px;
        margin-left: 10px;
    }

    .top_nav {
        border-bottom: 2px solid #ccc;
    }

    .nav_div {
        width: 48%;
        display: inline-block;
        text-align: center;
    }

    .nav_div .nav_div_span {
        display: inline-block;
        font-size: 15px;
        margin-top: 32px;
        font-weight: bold;
        padding-bottom: 12px;
        padding-left: 22px;
        padding-right: 22px;
    }

    .nav_div_inactive {
        color: #999;
    }

    .nav_div_active {
        color: #682960;
        border-bottom: 3px solid #682960;
    }

    .user-header i {
        font-size: 18px;
    }

    #popup_btn {
        float: right;
        font-size: 23px;
        cursor: pointer;
    }

    .chat-body {
        height: 100%;
        width: 100%;
    }

    .chat-body .answer.left {
        padding: 0 0 0 38px;
        text-align: left;
        float: left;
    }

    .chat-body .answer {
        user-select: none;
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .chat-body .answer.left .avatar {
        position: absolute;
        bottom: 0px;
        left: 10px;
    }

    .chat .avatar {
        width: 100px;
        height: 40px;
        bottom: 100px;
    }

    .chat .avatar img {
        display: block;
        border-radius: 100px;
        height: 100%;
        width: 40%;
    }

    .chat-body .answer.left .text {
        background: #ebebeb;
        border-radius: 0px 8px 8px 0;
        --r: 0px; /* the radius */
        --t: 20px; /* the size of the tail */
        -webkit-mask: 
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
            radial-gradient(50% 50%,#000 98%,#0000 101%) 
            0 0/var(--r) var(--r) space padding-box;
        --_d: 0%;
        border-left: var(--t) solid #0000;
        place-self: start;
    }

    .chat-body .answer .text {
        padding: 8px;
        position: relative;
    }

    /* ######## liked_msg ########### */

    .liked_msg_left {
        position: relative;
        left: 65px;
        bottom: 15px;
        clear: both;
        margin-bottom: -10px;
    }

    .liked_msg_left i {
        font-size: 13px;
        padding: 4px;
        color: red;
        background-color: wheat;
        border: 2px solid #fff;
        border-radius: 100px;
    }

    .liked_msg_right {
        position: relative;
        float: right;
        bottom: 15px;
        right: 20px;
        clear: both;
        margin-bottom: -10px;
    }

    .liked_msg_right i {
        font-size: 13px;
        padding: 4px;
        color: red;
        background-color: wheat;
        border: 2px solid #fff;
        border-radius: 100px;
    }

    /* ##### Right ##### */
    .normal {
        float: right;
    }

    .chat-body .answer.right {
        padding: 0 0.07rem 0 0;
    }

    .chat-body .answer.right .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 0px 0 8px;
        --r: 0px; /* the radius */
        --t: 20px; /* the size of the tail */
        -webkit-mask: 
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
            radial-gradient(50% 50%,#000 98%,#0000 101%) 
            0 0/var(--r) var(--r) space padding-box;
        --_d: 100%;
        border-right: var(--t) solid #0000;
        place-self: end;
        margin-right: -2px;
    }

    /*Delete Msg Field*/
    .delete_msg {
        text-align: center;
        bottom: 0px;
        right: 0px;
        font-size: 12px;
        margin-left: 10px;
        border: 1px solid rgb(144, 63, 63);
        background-color: rgb(144, 63, 63);
        color: white;
        padding: 3px 6px;
        border-radius: 5px;
        cursor: pointer;
        display: none;
    }

    .msg_m {
        float: right;
    }

    .center_ {
        border: 0px;
        background-color: #fff;
        color: #000;
    }

    /* ##### Add Form ##### */
    .chat-body .answer-add {
        text-align: center;
        clear: both;
        position: relative;
        margin: 20px -20px -20px;

    }

    .chat-body .answer-add input {
        font-size: 16px;
        line-height: 20px;
        padding: 10px 15px;
        outline: none;
        border: 1px solid #ccc;
        width: 80%;
        border-radius: 20px;
    }

    .chat-body .answer-add i {
        font-size: 18px;
        background-color: #cfcfcf;
        padding: 13px 17px;
        border: 1px solid #ccc;
        margin-left: 1%;
        border-radius: 100px;
    }

    /* links */
    .links_left {
        color: #000;
        text-decoration: underline;
    }

    .links_right {
        color: #fff;
        text-decoration: underline;
    }

    /* #### Date Times ##### */

    .date_times {
        text-align: center;
        position: relative;
        overflow: hidden;
        clear: both;
        font-size: 13px;
        color: #666;
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    /* #####################################################################

    /**************** First Messages ********************/
    
    .left_message_first {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }

    .left_message_first {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .left_message_first .text {
        background: #ebebeb;
        border-radius: 8px 8px 8px 0;
    }

    .left_message_first .text {
        padding: 8px;
        position: relative;
    }

    /* ##### Right ##### */
    .normal {
        float: right;
    }

    .right_message_first {
        padding: 0 15px 0 0;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .right_message_first .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 8px 0 8px;
        padding: 8px;
        position: relative;
        margin-right: 4px;
    }

    /**************** First End ********************/

    /**************** Middle Messages ********************/
    
    .left_message_mid {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }

    .left_message_mid {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .left_message_mid .text {
        background: #ebebeb;
        border-radius: 0px 8px 8px 0;
    }

    .left_message_mid .text {
        padding: 8px;
        position: relative;
    }

    /* ##### Right ##### */


    .right_message_mid {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
        margin-right: 4px;
    }

    .right_message_mid {
        padding: 0 15px 0 0;
        clear: both;
    }

    .right_message_mid .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 0px 0 8px;
        padding: 8px;
        position: relative;
    }

    /****************End Mid********************/

    /* ##################################################################### */

}

@media (min-width: 1400px) {
    body {
        background: #fff;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row.row-broken {
        padding-bottom: 0;
    }

    .chat {
        overflow: hidden;
        height: calc(120vh - 180px);
    }

    /* ##### Chat Body ##### */
    .user-header {
        padding-left: 8px;
        padding-right: 10px;
    }

    .user-header span {
        font-weight: bold;
        font-size: 20px;
        margin-left: 10px;
    }

    .top_nav {
        border-bottom: 2px solid #ccc;
    }

    .nav_div {
        width: 48%;
        display: inline-block;
        text-align: center;
    }

    .nav_div .nav_div_span {
        display: inline-block;
        font-size: 15px;
        margin-top: 32px;
        font-weight: bold;
        padding-bottom: 12px;
        padding-left: 22px;
        padding-right: 22px;
    }

    .nav_div_inactive {
        color: #999;
    }

    .nav_div_active {
        color: #682960;
        border-bottom: 3px solid #682960;
    }

    .user-header i {
        font-size: 18px;
    }

    #popup_btn {
        float: right;
        font-size: 23px;
        cursor: pointer;
    }

    .chat-body {
        height: 100%;
        width: 100%;
    }

    /*
    #messages{
        min-height: 420px;
    }*/

    .chat-body .answer.left {
        padding: 0 0 0 38px;
        text-align: left;
        float: left;
    }

    .chat-body .answer {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .chat-body .answer.left .avatar {
        position: absolute;
        bottom: 0px;
        left: 10px;
    }

    .chat .avatar {
        width: 100px;
        height: 40px;
        bottom: 100px;
    }

    .chat .avatar img {
        display: block;
        border-radius: 100px;
        height: 100%;
        width: 40%;
    }

    .chat-body .answer.left .text {
        background: #ebebeb;
        border-radius: 0px 8px 8px 0;
        --r: 0px; /* the radius */
        --t: 20px; /* the size of the tail */
        -webkit-mask: 
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
            radial-gradient(50% 50%,#000 98%,#0000 101%) 
            0 0/var(--r) var(--r) space padding-box;
        --_d: 0%;
        border-left: var(--t) solid #0000;
        place-self: start;
    }

    .chat-body .answer .text {
        padding: 8px;
        position: relative;
    }

    /* ######## liked_msg ########### */

    .liked_msg_left {
        position: relative;
        left: 65px;
        bottom: 15px;
        clear: both;
        margin-bottom: -10px;
    }

    .liked_msg_left i {
        font-size: 13px;
        padding: 4px;
        color: red;
        background-color: wheat;
        border: 2px solid #fff;
        border-radius: 100px;
    }

    .liked_msg_right {
        position: relative;
        float: right;
        bottom: 15px;
        right: 20px;
        clear: both;
        margin-bottom: -10px;
    }

    .liked_msg_right i {
        font-size: 13px;
        padding: 4px;
        color: red;
        background-color: wheat;
        border: 2px solid #fff;
        border-radius: 100px;
    }

    /* ##### Right ##### */
    .normal {
        float: right;
    }

    .chat-body .answer.right {
        padding: 0 0.07rem 0 0;
    }

    .chat-body .answer.right .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 0px 0 8px;
        --r: 0px; /* the radius */
        --t: 20px; /* the size of the tail */
        -webkit-mask: 
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
            radial-gradient(50% 50%,#000 98%,#0000 101%) 
            0 0/var(--r) var(--r) space padding-box;
        --_d: 100%;
        border-right: var(--t) solid #0000;
        place-self: end;
        margin-right: -2px;
    }

    .chat-body .answer {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;      
    }

    /*Delete Msg Field*/
    .delete_msg {
        text-align: center;
        bottom: 0px;
        right: 0px;
        font-size: 12px;
        margin-left: 10px;
        border: 1px solid rgb(144, 63, 63);
        background-color: rgb(144, 63, 63);
        color: white;
        padding: 3px 6px;
        border-radius: 5px;
        cursor: pointer;
        display: none;
    }

    .msg_m {
        float: right;
    }

    .center_ {
        border: 0px;
        background-color: #fff;
        color: #000;
    }

    /* ##### Add Form ##### */
    .chat-body .answer-add {
        text-align: center;
        clear: both;
        position: relative;
        margin: 20px -20px -20px;

    }

    .chat-body .answer-add input {
        font-size: 16px;
        line-height: 20px;
        padding: 10px 15px;
        outline: none;
        border: 1px solid #ccc;
        width: 80%;
        border-radius: 20px;
    }

    .chat-body .answer-add i {
        font-size: 18px;
        background-color: #cfcfcf;
        padding: 13px 17px;
        border: 1px solid #ccc;
        margin-left: 1%;
        border-radius: 100px;
    }

    /* links */
    .links_left {
        color: #000;
        text-decoration: underline;
    }

    .links_right {
        color: #fff;
        text-decoration: underline;
    }

    /* #### Date Times ##### */

    .date_times {
        text-align: center;
        position: relative;
        overflow: hidden;
        clear: both;
        font-size: 13px;
        color: #666;
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    /* #####################################################################

    /**************** First Messages ********************/
    
    .left_message_first {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }

    .left_message_first {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .left_message_first .text {
        background: #ebebeb;
        border-radius: 8px 8px 8px 0;
    }

    .left_message_first .text {
        padding: 8px;
        position: relative;
    }

    /* ##### Right ##### */
    .normal {
        float: right;
    }

    .right_message_first {
        padding: 0 15px 0 0;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .right_message_first .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 8px 0 8px;
        padding: 8px;
        position: relative;
        margin-right: 4px;
    }

    /**************** First End ********************/

    /**************** Middle Messages ********************/
    
    .left_message_mid {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }

    .left_message_mid {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .left_message_mid .text {
        background: #ebebeb;
        border-radius: 0px 8px 8px 0;
    }

    .left_message_mid .text {
        padding: 8px;
        position: relative;
    }

    /* ##### Right ##### */


    .right_message_mid {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
        margin-right: 4px;
    }

    .right_message_mid {
        padding: 0 15px 0 0;
        clear: both;
    }

    .right_message_mid .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 0px 0 8px;
        padding: 8px;
        position: relative;
    }

    /****************End Mid********************/

    /* ##################################################################### */

}

@media (max-width: 1400px) {
    body {
        background: #fff;
        font-family: Arial, Helvetica, sans-serif;
    }

    .row.row-broken {
        padding-bottom: 0;
    }

    .chat {
        overflow: hidden;
        height: calc(120vh - 180px);
    }

    /* ##### Chat Body ##### */
    .user-header {
        padding-left: 8px;
        padding-right: 10px;
    }

    .user-header span {
        font-weight: bold;
        font-size: 20px;
        margin-left: 10px;
    }

    .top_nav {
        border-bottom: 2px solid #ccc;
    }

    .nav_div {
        width: 48%;
        display: inline-block;
        text-align: center;
    }

    .nav_div .nav_div_span {
        display: inline-block;
        font-size: 15px;
        margin-top: 32px;
        font-weight: bold;
        padding-bottom: 12px;
        padding-left: 22px;
        padding-right: 22px;
    }

    .nav_div_inactive {
        color: #999;
    }

    .nav_div_active {
        color: #682960;
        border-bottom: 3px solid #682960;
    }

    .user-header i {
        font-size: 18px;
    }

    #popup_btn {
        float: right;
        font-size: 23px;
        cursor: pointer;
    }

    .chat-body {
        height: 100%;
        width: 100%;
    }

    .chat-body .answer.left {
        padding: 0 0 0 38px;
        text-align: left;
        float: left;
    }

    .chat-body .answer {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .chat-body .answer.left .avatar {
        position: absolute;
        bottom: 0px;
        left: 10px;
    }

    .chat .avatar {
        width: 100px;
        height: 40px;
        bottom: 100px;
    }

    .chat .avatar img {
        display: block;
        border-radius: 100px;
        height: 100%;
        width: 40%;
    }

    .chat-body .answer.left .text {
        background: #ebebeb;
        border-radius: 0px 8px 8px 0;
        --r: 0px; /* the radius */
        --t: 20px; /* the size of the tail */
        -webkit-mask: 
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
            radial-gradient(50% 50%,#000 98%,#0000 101%) 
            0 0/var(--r) var(--r) space padding-box;
        --_d: 0%;
        border-left: var(--t) solid #0000;
        place-self: start;
    }

    .chat-body .answer .text {
        padding: 8px;
        position: relative;
    }

    /* ######## liked_msg ########### */

    .liked_msg_left {
        position: relative;
        left: 65px;
        bottom: 15px;
        clear: both;
        margin-bottom: -10px;
    }

    .liked_msg_left i {
        font-size: 13px;
        padding: 4px;
        color: red;
        background-color: wheat;
        border: 2px solid #fff;
        border-radius: 100px;
    }

    .liked_msg_right {
        position: relative;
        float: right;
        bottom: 15px;
        right: 20px;
        clear: both;
        margin-bottom: -10px;
    }

    .liked_msg_right i {
        font-size: 13px;
        padding: 4px;
        color: red;
        background-color: wheat;
        border: 2px solid #fff;
        border-radius: 100px;
    }

    /* ##### Right ##### */
    .normal {
        float: right;
    }

    .chat-body .answer.right {
        padding: 0 0.07rem 0 0;
    }

    .chat-body .answer.right .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 0px 0 8px;
        --r: 0px; /* the radius */
        --t: 20px; /* the size of the tail */
        -webkit-mask: 
            radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
            var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
            conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
            calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
            radial-gradient(50% 50%,#000 98%,#0000 101%) 
            0 0/var(--r) var(--r) space padding-box;
        --_d: 100%;
        border-right: var(--t) solid #0000;
        place-self: end;
        margin-right: -2px;
    }

    /*Delete Msg Field*/
    .delete_msg {
        text-align: center;
        bottom: 0px;
        right: 0px;
        font-size: 12px;
        margin-left: 10px;
        border: 1px solid rgb(144, 63, 63);
        background-color: rgb(144, 63, 63);
        color: white;
        padding: 3px 6px;
        border-radius: 5px;
        cursor: pointer;
        display: none;
    }

    .msg_m {
        float: right;
    }

    .center_ {
        border: 0px;
        background-color: #fff;
        color: #000;
    }

    /* ##### Add Form ##### */
    .chat-body .answer-add {
        text-align: center;
        clear: both;
        position: relative;
        margin: 20px -20px -20px;

    }

    .chat-body .answer-add input {
        font-size: 16px;
        line-height: 20px;
        padding: 10px 15px;
        outline: none;
        border: 1px solid #ccc;
        width: 80%;
        border-radius: 20px;
    }

    .chat-body .answer-add i {
        font-size: 18px;
        background-color: #cfcfcf;
        padding: 13px 17px;
        border: 1px solid #ccc;
        margin-left: 1%;
        border-radius: 100px;
    }

    /* links */
    .links_left {
        color: #000;
        text-decoration: underline;
    }

    .links_right {
        color: #fff;
        text-decoration: underline;
    }

    /* #### Date Times ##### */

    .date_times {
        text-align: center;
        position: relative;
        overflow: hidden;
        clear: both;
        font-size: 13px;
        color: #666;
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    /* #####################################################################

    /**************** First Messages ********************/
    
    .left_message_first {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }

    .left_message_first {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .left_message_first .text {
        background: #ebebeb;
        border-radius: 8px 8px 8px 0;
    }

    .left_message_first .text {
        padding: 8px;
        position: relative;
    }

    /* ##### Right ##### */
    .normal {
        float: right;
    }

    .right_message_first {
        padding: 0 15px 0 0;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .right_message_first .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 8px 0 8px;
        padding: 8px;
        position: relative;
        margin-right: 4px;
    }

    /**************** First End ********************/

    /**************** Middle Messages ********************/
    
    .left_message_mid {
        padding: 0 0 0 58px;
        text-align: left;
        float: left;
    }

    .left_message_mid {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
    }

    .left_message_mid .text {
        background: #ebebeb;
        border-radius: 0px 8px 8px 0;
    }

    .left_message_mid .text {
        padding: 8px;
        position: relative;
    }

    /* ##### Right ##### */


    .right_message_mid {
        position: relative;
        overflow: hidden;
        clear: both;
        word-wrap: break-word;
        max-width: 70%;
        margin-right: 4px;
    }

    .right_message_mid {
        padding: 0 15px 0 0;
        clear: both;
    }

    .right_message_mid .text {
        background: #682960;
        color: #ffffff;
        border-radius: 8px 0px 0 8px;
        padding: 8px;
        position: relative;
    }

    /****************End Mid********************/

    /* ##################################################################### */

}